ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6600cc;
}

li {
  display: inline;
  float: left;
}
li a {
  display: block;
  padding: 20px;
  background-color: #6600cc;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #ce99ff;
}

h1 {
  font-family: Comic Sans MS;
  color: #6600cc;
  text-align: center;
}

h2 {
  color: #6600cc;
}

p {
  color: #6600cc;
}

img {
  width: 60%;
  padding: 10px 20%;
}
